<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.closematch.mapper.CmReviewAdviseMapper">

    <resultMap id="BaseResultMap" type="com.home.closematch.entity.CmReviewAdvise">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reviewType" column="review_type" jdbcType="INTEGER"/>
            <result property="reviewObjId" column="review_obj_id" jdbcType="BIGINT"/>
            <result property="reviewAdminId" column="review_admin_id" jdbcType="BIGINT"/>
            <result property="reviewAdvise" column="review_advise" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,review_type,review_obj_id,
        review_admin_id,review_advise,create_time,
        update_time,is_delete
    </sql>
</mapper>
